
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    
    @media (max-width: 768px) {
        padding: 0 5%;
    }
}

#login-form {
    background-color: #fff;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 350px;
    height: auto;
}

#login-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

#login-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#login-form button {
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#login-form button:hover {
    background-color: #45a049;
}

.error{
    color: red;
    font-weight: bold;
    margin: 10px 0;
}

#register-link {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    
    &:hover {
        text-decoration: underline;
    }
}

table {
    background-color: #fff;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 50%;
    margin-top: 20px;
    
    @media (max-width: 768px) {
        width: 100%;
    }
}

table th, table td {
    padding: 10px;
    border: none;
    text-align: left;
}

table th {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    color: black;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

th.movie-release-year {
    
    width: 0;
}

th.movie-id{
    width: 0;
}

th.movie-rating{
    width: 80px;
}

.get-by-id-box{
    display: flex;
    flex-direction: column;
}

.box{
    display: flex;
    justify-content: space-between;
    width: 50%;
    @media (max-width: 768px) {
        width: 100%;
    }
}
.crud-box{
    display: flex; 
    flex-direction: column;
}
.category-box{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
    h2{
        cursor: pointer;
        
        &:hover{
            text-decoration: underline;
        }
    }
}
