.form-container{
  width: 50%;
  margin-top: 5rem;

  @media(max-width: 600px){
    width: 100%;
  }
  @media (min-width: 600px) and (max-width: 1000px) {
    width: 75%;
  }
}

section{
  display: flex;
  justify-content: center;
}
