<mat-card>
  <mat-card-header>Login to your account</mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" formControlName="email" matInput>
        @if(loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)){
          <mat-error>Email invalid</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput>
      </mat-form-field>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">Login</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
